
.section__Primary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 15px;

    margin-top: 20px;
}

.section__Primary--Username {
    color: var(--color-primary);

    font-family: var(--font-family-poppins);

    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
}

.section__Primary--Title {
    font-weight: 800;
    font-size: 42px;
    line-height: 50.83px;
}

.section__Primary--Text {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section__Primary--button {
    background-color: var(--color-primary);
    color: var(--color-grey-white);

    width: 125px;
    height: 35px;

    border: none;
    border-radius: 12px;
}

.section__Primary--button:hover {
    background-color: var(--color-primary-Hover);

    cursor: pointer;
}