.listTech {
    display: flex;
    align-items: center;

    gap: 30px;

    width: 200px;
    height: 60px;
    padding: 0px 30px;

    border: 1px solid var(--color-grey-white-Opaccity);
    border-radius: 25px;
}
